body {
    background-color: #F7F7F7;
    font-family: 'Ubuntu', sans-serif;
}



.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 10em auto;
    border-radius: none;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.regmain {

    background-color: #FFFFFF;
    width: 400px;
    height: 550px;
    margin: 5em auto;
    border-radius: none;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.homemain {

    background-color: #FFFFFF;
    width: 400px;
    height: 550px;
    margin: 5em auto;
    margin-left: 5em;
    border-radius: none;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}


.sign {
    padding-top: 40px;
    color: #707070;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: lighter;
font-size: 14px;
letter-spacing: 1px;
background: #FFFFFF;
padding: 10px 20px;
border: #707070;
/* border-radius: 20px; */
outline: none;
box-sizing: border-box;
border: 1px solid #707070;
margin-bottom: 50px;
margin-left: 46px;
text-align: left;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

form.form1 {
    padding-top: 40px;
}

.pass {
        width: 76%;
color: rgb(38, 50, 56);
font-weight: lighter;
font-size: 14px;
letter-spacing: 1px;
background: #FFFFFF;
padding: 10px 20px;
border: #707070;
/* border-radius: 20px; */
outline: none;
box-sizing: border-box;
border: 1px solid #707070;
margin-bottom: 50px;
margin-left: 46px;
text-align: left;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;
}

.firstname {

    width: 76%;
color: rgb(38, 50, 56);
font-weight: lighter;
font-size: 14px;
letter-spacing: 1px;
background: #FFFFFF;
padding: 10px 20px;
border: #707070;
/* border-radius: 20px; */
outline: none;
box-sizing: border-box;
border: 1px solid #707070;
margin-bottom: 50px;
margin-left: 46px;
text-align: left;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;

}

.lastname {

    width: 76%;
color: rgb(38, 50, 56);
font-weight: lighter;
font-size: 14px;
letter-spacing: 1px;
background: #FFFFFF;
padding: 10px 20px;
border: #707070;
/* border-radius: 20px; */
outline: none;
box-sizing: border-box;
border: 1px solid #707070;
margin-bottom: 50px;
margin-left: 46px;
text-align: left;
margin-bottom: 27px;
font-family: 'Ubuntu', sans-serif;

}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.submit {
    
  cursor: pointer;
    border-radius: 25px;
    color: #fff;
    background: #586BA4;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 60%;
    
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.5px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #111111;
    padding-top: 15px;
}

.city {

    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 1px;
    background: #FFFFFF;
    padding: 10px 20px;
    border: #707070;
    /* border-radius: 20px; */
    outline: none;
    box-sizing: border-box;
    border: 1px solid #707070;
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: left;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

.start-date {

    width: 30%;
    color: rgb(38, 50, 56);
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 1px;
    background: #FFFFFF;
    padding: 10px 20px;
    border: #707070;
    /* border-radius: 20px; */
    outline: none;
    box-sizing: border-box;
    border: 1px solid #707070;
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: left;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

.end-date {

    width: 30%;
    color: rgb(38, 50, 56);
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 1px;
    background: #FFFFFF;
    padding: 10px 20px;
    border: #707070;
    /* border-radius: 20px; */
    outline: none;
    box-sizing: border-box;
    border: 1px solid #707070;
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: left;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

.pax {

    width: 15%;
    color: rgb(38, 50, 56);
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 1px;
    background: #FFFFFF;
    padding: 10px 20px;
    border: #707070;
    /* border-radius: 20px; */
    outline: none;
    box-sizing: border-box;
    border: 1px solid #707070;
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: left;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

.flex-container {
    display:flex;
    justify-content: space-between;
    flex-direction: row;

    
    

}
.flex-container > *:not(:last-child){
    margin-right:10px;
}


.flex {
    border: none;
}

.recommended {
    margin-left: 8em;
    
}

.search {
    margin-left: 1px;
    
    
}




.search-button {

    cursor: pointer;
    border-radius: 25px;
    color: #fff;
    background: #586BA4;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: -100px;
    
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.5px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.bottom {
    height: 800px;
    margin-top: 0px;
}

.choice {
  background-color: white;
  width: 200px;
  border: 1px solid black;
  padding: 30px;
  margin: 20px;
}

.filter h3{
    margin:20px;
}

.sort {

    margin-left: 10px;
}

.sort-box {
    background-color: white;
  width: 150px;
  border: 1px solid black;
  padding: 10px;
  margin: 0px;
}



.hotel {
    height: 500px;
    overflow: scroll;
    margin-top: 50px;
}

.flex-container-vertical {

    display:flex;
    justify-content: space-between;
    flex-direction: column;
}

.flex-container-vertical div {

    background-color: white;
  width: 800px;
  border: 1px solid black;
  padding: 0px;
  margin: 0px;
}

.confirm-booking {

    background-color: white;
  width: 300px;
  border: 0px;
  padding: 20px;
  margin: 0px;
  box-shadow: #000000;
  height: 350px;
  margin-top: 200px;
  margin-left: 600px;
}

.confirm-booking h3 {
    text-align: center;
}

.confirm-booking h4 {
    color:#596FA0;
    font-style: normal;
}

.confirm-booking h5 {
    color: #596FA0;
    font-weight: lighter;
}

.hotel-name h2{
    color:#707070;
    font-weight: lighter;
    margin-left: 15px;
}

.hotel-description td {
    padding-left: 40px;
}

.details{
    margin-top: 20px;
}

.details td {
    padding-left: 40px;
    
}

.title {
    color:#586BA4;
    font-weight: bold;
    margin-left: 10px;
}

.register-button {
    background-color: #586BA4;
}

.signin-button {
    border-color: #586BA4;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #586BA4;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}
